<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Restaurant Apps Starter Project</title>
</head>
<body>
  <a href="#maincontent" class="skip-link" aria-labelledby="skiplink-heading">Menuju ke konten</a>
  <header>
    <app-bar></app-bar>
    <drawer-component></drawer-component>
    <hero-element></hero-element>
  </header>
  <main id="maincontent">
    <menu-list></menu-list>
  </main>
  <footer>
    <footer-element></footer-element>
  </footer>
</body>
</html>
